- if(site.cms === true)
    block vars
    block content

- else
    block vars
    doctype
    html(lang="ja")

        head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title #{site.name}
            meta(name="apple-touch-fullscreen" content="YES")
            meta(name="format-detection" content="telephone=no")
            meta(http-equiv="X-UA-Compatible" content="IE=edge")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css")


        body(class=page_slug).drawer.drawer--right
            .wrapper
                //- ヘッダー
                include ./_header.pug

                main.main
                    //- ここにコンテンツが入ります
                    block content

                //- フッター
                include ./_footer.pug

            //- JS
            include ./_scripts.pug
