script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js")
script(src=site.path.js+"/common.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3yKTz66ZPI24nDU4Y9JBaNgDkWVvLS9E&callback=initMap",async,defer)
